<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rotator | Home</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Rotating the array to LEFT</h1>
        <div class="form">
            <form action="/" method="POST">
                <label for="lb-arr-len">Length of array:</label>
                <input type="text" name="arr-len" id="arr-len">
                <br>
                <label for="lb-shift">Shift array by:</label>
                <input type="text" name="shift" id="shift">
                <br>
                <label for="lb-array">Number array (Space separated):</label>
                <input type="text" name="arr" id="arr">
                <br>
                <button>Rotate Left</button>
            </form>
        </div>
    </body>
</html>