<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rotator | Home</title>
    </head>
    <body>
        <h1>Rotating the array to LEFT</h1>
        <div class="form">
            <form action="/" method="POST">
                <label for="lb-arr-len">Length of array:</label>
                <input type="text" name="arr-len" id="arr-len">
                <br>
                <label for="lb-shift">Shift array by:</label>
                <input type="text" name="shift" id="shift">
                <br>
                <label for="body" id="desc">Space separated list of array members</label>
                <input type="text" name="arr" id="arr">
                <br>
                <input type="submit" value="Rotate">
            </form>
        </div>
    </body>
</html>