<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotator | Output</title>
    <style>
        table, td, th {
            border: 2px solid #aaa;
        }
        table{
            border-collapse: collapse;
            width: 100%;
        }
        .content {
            margin: 0 auto;
            width: 400px;
        }
    </style>
</head>
<body>
    <div id = resultdiv>
        <h2>Rotated Array</h2>
        <p id="resultp">{{res}}</p>
    </div>
    <div>
        <table style="width:90%; text-align:center">
            <colgroup>
                <col style="width:10%">
                <col style="width:30%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:30%">
            </colgroup>
            <tr>
                <th>Date</th>
                <th>Input array</th>
                <th>Rotation by</th>
                <th>Rotation direction</th>
                <th>Output array</th>
            </tr>
            {% for rec in recs %}
                <tr>
                    <td>{{ rec.date }}</td>
                    <td>{{ rec.ip_arr }}</td>
                    <td>{{ rec.rotation_by }}</td>
                    <td>{{ rec.rotation_direction }}</td>
                    <td>{{ rec.op_arr }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
</body>
</html>