<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotator | Output</title>
    <style>
        table, td, th {
            border: 2px solid #aaa;
        }
        table{
            border-collapse: collapse;
            width: 100%;
        }
        .content {
            margin: 0 auto;
            width: 400px;
        }
    </style>
</head>
<body>
    <div id = resultdiv>
        <h2>Rotated Array</h2>
        <p id="resultp">{{res}}</p>
    </div>
    <div>
        <table>
            <colgroup>
                <col style="width:40%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:40%">
            </colgroup>
            <tr>
                <th>Input array</th>
                <th>Rotation by</th>
                <th>Rotation direction</th>
                <th>Output array</th>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
</body>
</html>